.eir-package-lg {
    float: left;
    width: 216px;
    height: 290px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #888888;
    margin-right: 20px;
}
.ep-rating {
    padding: 10px;
}
.ep-rating .fa-star {
    float: right;
}
.ep-img {
    width: 100%;
    height: 122px;
    background-color: plum;
}
.ep-title {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.ep-author {
    width: 100%;
    padding: 10px;
}
.ep-price {
    width: 100%;
    padding: 10px;
    text-align: right;
}