<div class="eir-package-lg">
    <div class="ep-img">

    </div>
    <div class="ep-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="ep-title">
      ACL Injury
    </div>
    <div class="ep-author">
      Sherry Soltani
    </div>
    <div class="ep-price">
     <small style="text-decoration: line-through;">£30.00</small> £2.99
    </div>
  </div>