<div class="eir-container-chat container-full">
  <div class="row-new">
    <div class="user-listc fill col-lg-3">
      <chat-user-list></chat-user-list>
    </div>
    <div class="user-chat-detail fill col-lg-9">
      <div class="row">
        <div class="user-conversation fill col-lg-6">
          <chat-conversation></chat-conversation>
        </div>
        <div class="user-details fill col-lg-6">
          <chat-user-detail></chat-user-detail>
        </div>
      </div>
    </div>
  </div>
</div>