
.eir-container-chat{
    padding-top: 55px;
}
.user-list {
    background-color: #fff;
}
.user-chat-detail {
  .user-conversation {
    background-color: #eee;
  }
  .user-details {
    background-color: #8888;
  }
}

.fill {
    height: 100vh;
}