<top-nav></top-nav>
<div class="container eir-container">
  <div class="starter-template">
    <h1>{{title}}</h1>
    <p class="lead">Use this document as a way to quickly start any new project.
      <br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
</div>

<div class="sidenav">
  <a href="#about">
    <i class="fas fa-bullseye"></i> About</a>
  <a href="#services">
    <i class="fas fa-bullseye"></i> Services</a>
  <a href="#clients">
    <i class="fas fa-bullseye"></i> Clients</a>
</div>