<div class="discussion message-active">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>
<div class="discussion">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>
<div class="discussion">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>
<div class="discussion">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>
<div class="discussion">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>
<div class="discussion">
  <div class="photo" style="background-image: url(https://image.noelshack.com/fichiers/2017/38/2/1505775062-1505606859-portrait-1961529-960-720.jpg);">
    <div class="online"></div>
  </div>
  <div class="desc-contact">
    <p class="name">Megan Leib</p>
    <p class="message">9 pm at the bar if possible

    </p>
  </div>
</div>